[Unit]
Description=Steam Deck Fast Boot
# 规定在网络准备好后运行
After=network.target

[Service]
# 规定脚本运行一次就结束
Type=oneshot

# ExecStart 的脚本执行完毕退出了，Systemd 依然认为此服务是 Active 的
# 这使得关机时会触发 ExecStop
RemainAfterExit=yes

# 权限
User=root
Group=root

# 开机逻辑
# 开机时，hosts 已经是屏蔽状态（上次关机改的）。
# 只需要进入 wait 模式，等 Steam 启动后关闭屏蔽规则即可。
# wait 函数内部最后会自动调用 disable_block，这里只需要 wait
ExecStart=/home/deck/MyShell/steam_fastboot/steam_fastboot.sh wait

# 关机逻辑
# 关机时，把屏蔽规则写入 hosts。
# 下次开机时，Steam 一上来就会撞墙。
ExecStop=/home/deck/MyShell/steam_fastboot/steam_fastboot.sh on

# 超时设置
# 给 wait 足够的时间
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
